.schedule-top-container{
    height: 400px;
    left: 50px;
    width: 500px;
    margin-left: 1;
}

#schedule-section{
    background-image: url('../images/bg2.png');
}

#schedule-wrapper{
    margin-left: 50px;
    margin-right: 50px;
    top: 0px;    
}

.Regis{
    width: 200px;
    height: 80px;
    text-align: infoRegis;
    display: inline;
}


#regis{
    
}

#regis-time{
    top: 0px;
}

.infoRegis{
    margin-left: 50px;
    height: 80px;
    text-align: Regis;
    display: inline;
}

//@media (max-width: 480px) { 
//    .regis-detail{
//        width: 480px !important;
//    }
//}
// 